<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <div v-if="!showGreeting">
      <input v-model="userName" type="text" placeholder="Escribe tu nombre" />
      <button @click="showGreeting = !showGreeting">Mostrar saludo</button>
    </div>
    <h1 v-if="showGreeting">Hi {{ userName }}</h1>
    <Counter />
  </div>
</template>

<script>
import Counter from '@/components/Counter.vue'
export default {
  name: 'home',
  components: {
    Counter
  },
  data () {
    return {
      userName: 'Profesor Claudio',
      showGreeting: false
    }
  }
}
</script>
