<template>
  <div style="margin: 4rem auto">
    <button id="up" @click="count++">Aumentar</button>
    <button id="down" @click="count--">Disminuir</button>
    <p>Total clicks: {{ count }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return { count: 0 };
  }
};
</script>

<style></style>
